#**Python Functions**

####**2. Defining and calling a Function**

In [1]:
def greet():
    """This function prints a greeting message."""
    print("Hello, World!")

In [2]:
greet()

Hello, World!

####**3. Function Parameters**

######**Positional Parameters**

In [3]:
def greet_person(name):
    """Greets a person by their name."""
    print(f"Hello, {name}!")

greet_person("Alice")

Hello, Alice!

######**Default Parameters**

In [4]:
def greet_person(name="Guest"):
    print(f"Hello, {name}!")

greet_person()
greet_person("Bob")

Hello, Guest!
Hello, Bob!

####**4. Return Statement**

In [5]:
def add_numbers(a, b):
    return a + b

result = add_numbers(3, 5)
print(result)

8

####**5. Scope and Lifetime of Variables**

In [22]:
def calculate_area(radius):
    pi = 3.14  # Local variable
    return pi * radius ** 2

#print(pi)  # This will raise a NameError

As we have written the corrected code. please experiment with other local variable like,





```
def calculate_area(radius):
    
    pi = 3.14  # Local variable
    
    a=10;
    
    return pi * radius ** 2

print(a)  # This will raise a NameError
```

######**correct code**

In [19]:
#pi=3.14
def calculate_area(radius):
    return pi * radius ** 2

print("pi=",pi)  # This will raise a NameError
print("Area=",calculate_area(2))

pi= 3.14
Area= 12.56

####**6. Special Parameters: *args and **kwargs**

######***args (Non-Keyword Arguments)**

In [23]:
def sum_all(*args):
    return sum(args)

print(sum_all(1, 2, 3, 4))

10

######****kwargs (Keyword Arguments)**

In [24]:
def print_details(**kwargs):
    for key, value in kwargs.items():
        print(f"{key}: {value}")

print_details(name="Aarya", age=25, city="New Delhi")

name: Aarya
age: 25
city: New Delhi

####**7. Lambda Functions**

In [25]:
square = lambda x: x ** 2
print(square(5))

25

In [32]:
#Experiment
area_of_square = lambda l: l * l
print(area_of_square(10))

100

In [33]:
#Experiment
area_of_rect = lambda length, width: length * width

# Example usage:
print(area_of_rect(5, 10))

50

####**8. Docstrings**

In [34]:
def multiply(a, b):
    """Multiplies two numbers and returns the result."""
    return a * b

help(multiply)

Help on function multiply in module __main__:

multiply(a, b)
    Multiplies two numbers and returns the result.

####**9. Recursive Functions**

In [35]:
def factorial(n):
    if n == 0:
        return 1
    return n * factorial(n - 1)

print(factorial(5))

120

####**Example**

In [36]:
def calculate_area(width, height):
    area = width * height
    return area

area1 = calculate_area(5, 10)
print("Area of rectangle 1:", area1)

area2 = calculate_area(3, 4)
print("Area of rectangle 2:", area2)

Area of rectangle 1: 50
Area of rectangle 2: 12