#**Lists, Dictionaries, and Sets**

####**1. Lists**

In [1]:
# Creating a list of cities
cities = ["London", "Paris", "Tokyo"]

In [2]:
# Accessing items
print(cities[0])
print(cities[2])

London
Tokyo

In [4]:
# Adding an item
cities.append("New York")
print(cities)

['London', 'Paris', 'Tokyo', 'New York']

In [5]:
# Removing an item
cities.remove("Paris")
print(cities)

['London', 'Tokyo', 'New York']

####**2. Dictionaries**

In [6]:
# Creating a dictionary with details about a book
book = {
    "title": "1984",
    "author": "George Orwell",
    "year": 1949
}

In [7]:
# Accessing values by key
print(book["title"])
print(book["year"])

1984
1949

In [8]:
# Adding a new key-value pair
book["genre"] = "Dystopian"
print(book)

{'title': '1984', 'author': 'George Orwell', 'year': 1949, 'genre': 'Dystopian'}

In [9]:
# Changing a value
book["year"] = 1950
print(book)

{'title': '1984', 'author': 'George Orwell', 'year': 1950, 'genre': 'Dystopian'}

######**Using get() with Dictionaries**

In [10]:
# Using get() without a default value
print(book.get("title"))
print(book.get("publisher"))  # Output: None (key doesn't exist)

1984
None

In [12]:
# Using get() with a default value
print(book.get("publisher", "Not available"))

Not available

####**3. Sets**

In [13]:
# Creating a set of sports
sports = {"football", "cricket", "tennis"}

In [14]:
# Adding an item
sports.add("basketball")
print(sports)

{'tennis', 'cricket', 'basketball', 'football'}

In [15]:
# Trying to add a duplicate item
sports.add("football")
print(sports)  # Output: {'football', 'cricket', 'tennis', 'basketball'} (no duplicate added)

{'tennis', 'cricket', 'basketball', 'football'}

In [16]:
# Removing an item
sports.remove("tennis")
print(sports)

{'cricket', 'basketball', 'football'}