#**Classes in Python**

####**1. What is a Class?**

A class in Python is a template for creating objects. Objects are instances of a class, and each object has its own set of attributes (variables) and methods (functions defined in the class).

####**2. Creating a Basic Class in Python**

In [1]:
class Person:
    pass

####**3. Adding the __init__ Method**

In [2]:
class Person:
    def __init__(self, name, age, gender):
        self.name = name
        self.age = age
        self.gender = gender

####**5. Adding a Method to Our Class**

In [3]:
class Person:
    def __init__(self, name, age, gender):
        self.name = name
        self.age = age
        self.gender = gender

    def greet(self):
        print(f"Hello, my name is {self.name}.")

####**6. Creating an Object (Instance) of the Class**

In [4]:
john = Person("John", 30, "Male")

####**7. Using the Objectâ€™s Methods and Attributes**

In [5]:
print(john.name)
print(john.age)
print(john.gender)
john.greet()

John
30
Male
Hello, my name is John.

####**8. Example: Book Class**

In [6]:
class Book:
    def __init__(self, title, author, year, genre):
        self.title = title  # Title of the book
        self.author = author  # Author of the book
        self.year = year  # Year of publication
        self.genre = genre  # Genre of the book

    def display_info(self):
        print(f"Book Details: {self.title} by {self.author}, Year: {self.year}, Genre: {self.genre}")

    def update_year(self, new_year):
        if new_year >= self.year:
            self.year = new_year
            print(f"Updated year of publication: {self.year}")
        else:
            print("Year of publication cannot be earlier than the current year!")

    def book_age(self, current_year):
        return current_year - self.year

In [7]:
# Create an instance of the Book class
my_book = Book("1984", "George Orwell", 1949, "Dystopian")

In [12]:
# Display book details
my_book.display_info()

Book Details: 1984 by George Orwell, Year: 1950, Genre: Dystopian

In [9]:
# Update the year of publication
my_book.update_year(1950)

Updated year of publication: 1950

In [10]:
# Attempt to roll back the year of publication (will fail)
my_book.update_year(1940)

Year of publication cannot be earlier than the current year!

In [11]:
# Calculate and display the book's age
current_year = 2025
book_age = my_book.book_age(current_year)
print(f"The book is {book_age} years old.")

The book is 75 years old.

####**9. Example: car Class**

In [13]:
class Car:
    # Constructor to initialize the car's attributes
    def __init__(self, brand, model, year, mileage):
        self.brand = brand  # Car's brand (e.g., Toyota, Honda)
        self.model = model  # Car's model (e.g., Corolla, Civic)
        self.year = year    # Manufacturing year
        self.mileage = mileage  # Mileage in kilometers

    # Method to display car details
    def display_info(self):
        print(f"Car Details: {self.brand} {self.model}, Year: {self.year}, Mileage: {self.mileage} km")

    # Method to update the mileage
    def update_mileage(self, new_mileage):
        if new_mileage >= self.mileage:
            self.mileage = new_mileage
            print(f"Updated mileage: {self.mileage} km")
        else:
            print("Mileage cannot be rolled back!")

    # Method to calculate the car's age
    def car_age(self, current_year):
        return current_year - self.year

In [14]:
# Create an instance of the Car class
my_car = Car("Toyota", "Corolla", 2015, 75000)

In [15]:
# Display car details
my_car.display_info()

Car Details: Toyota Corolla, Year: 2015, Mileage: 75000 km

In [16]:
# Update the mileage
my_car.update_mileage(80000)

Updated mileage: 80000 km

In [17]:
# Attempt to roll back mileage (will fail)
my_car.update_mileage(70000)

Mileage cannot be rolled back!

In [18]:
# Calculate and display the car's age
current_year = 2025
car_age = my_car.car_age(current_year)
print(f"The car is {car_age} years old.")

The car is 10 years old.